@import url(normalize.scss);

//Animações
@-moz-keyframes Bounce {
  0% {bottom: 50%;}
  70% {transform: scale(1, 1);}
  100% {bottom: 5px; transform: scale(1, 1);}
}

@keyframes Bounce {
  0% {bottom: 50%;}
  70% {transform: scale(1, 1);}
  100% {bottom: 5px; transform: scale(1, 1);}
}

//Fontes
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../vendors/fontes/bebasneue-webfont.woff2') format('woff2'),
         url('../vendors/fontes/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../vendors/fontes/lato-regular-webfont.woff2') format('woff2'),
         url('../vendors/fontes/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Varibles
$green: #70bf41;
$white: #FFFFFF;

//Global
body {
	background: url('../images/background.jpg') no-repeat bottom center #474b56;
}

body, p {
	font-family: 'latoregular';
	font-weight: normal;
	font-size: 22px;

	h2, h3 {
		font-family: 'bebas_neueregular';
		text-transform: uppercase;
		font-weight: normal;
		margin: 0;
	}

	section {
		width: 100%;
		height: 100vh;
		position: relative;
	}
}

//Intro
.intro {
	width: 100%;
	height: 100vh;
	background: url('../images/bg-intro.jpg') no-repeat center;
	background-size: cover;

	.logo {
		max-width: 272px;
		position: relative;
		margin: 0 auto;
		vertical-align: middle;
		top: 50vh;
		transform: translateY(-50%);

		img {
			width: 100%;
		}
	}

	.icon-down {
		width: 20%;
    	bottom: 0;
    	height: 5vh;
    	display: inline-block;
    	position: absolute;
    	padding: 20px 0;
    	text-align: center;
    	left: 50vw;
		transform: translateX(-50%);

		i {
			animation: .8s ease-in-out alternate infinite;
			display: block;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			animation-name: Bounce;
			background: url('../images/icons.png') no-repeat 0 0;
			height: 20px;
			width: 31px;
			z-index: 2;
		}
	}
}

//Manifesto
.manifesto {
	background: #474b56;

	.text {
		width: 80%;
		max-width: 780px;
		border: 5px solid $white;
		color: $white;
		text-align: center;
		top: 50vh;
		left: 10%;
		position: absolute;
		transform: translateY(-50%);
		padding: 20px;
		box-sizing: border-box;

		h2 {
			font-size: 50px;
			letter-spacing: 5px;
		}

		p {
			font-size: 20px;
			line-height: 30px;
		}
	}
}

@media screen and (min-width: 1024px){
	.manifesto {
		.text {
			left: 50%;
			margin-left: -390px;
		}
	}
}

@media screen and (min-width: 726px){
	.manifesto {
		.text {
			padding: 50px;

			h2 {
				font-size: 100px;
				letter-spacing: 5px;
			}

			p {
				font-size: 22px;
				line-height: 30px;
			}
		}
	}
}

//About
.box-default {
	height: 140vh;
	position: relative;

	h2 {
		font-size: 40px;
		margin-bottom: 30px;
	}

	p {
		max-width: 490px;
		margin: 0;
	}

	.part {
		height: 70vh;
		background: #333c47;
		color: $white;
		position: relative;

		h3 {
			font-size: 27px;
			color: $green;
			padding-bottom: 30px;
			padding-left: 90px;
			letter-spacing: 1px;
		}

		p {
			font-size: 18px;
			line-height: 30px;
			padding-left: 90px;
		}

    	.content {
    		max-width: 1024px;
    		width: 90%;
    		margin: 0 auto;
    		top: 35vh;
			left: 50vw;
			position: absolute;
			transform: translate(-50%, -50%);
			z-index: 1;

    		.text {
    			position: relative;

				&::before {
					content: '';
					display: inline-block;
					background: url('../images/icons.png') no-repeat;
					background-position: -1px -21px;
					width: 69px;
					height: 69px;
					position: absolute;
				}
			}
    	}
	}

	.part:last-child {
		background: url('../images/bg-green.jpg') no-repeat center bottom #70bf41;
		background-size: cover;

		h3 {
			color: $white;
		}

		.text {
			&::before {
				content: '';
				background-position: -70px -21px;
			}
		}
	}

	.img-1 {
		width: 40%;
		height: 676px;
		top: 10%;
		left: 60%;
		background: url('../images/img-1.jpg') no-repeat 0 0;
		position: absolute;
		display: none;
		z-index:1;
	}
}

.about {
	.part:last-child {
		.content {
			top: 25vh;
		}
	}
}

@media screen and (min-width: 1024px){
	.box-default {
		h2 {
			font-size: 100px;
		}

		.part {
			h3 {
				font-size: 40px;
			}

			.content {
				width: 100%;
			}

			p {
				font-size: 22px;
			}
		}
		.img-1 {
			display: block;
		}
	}
}

//O que vendemos
.what {
	height: 80vh;

	.part {
		background: #474b56;
		height: 40vh;

		.content {
			top: 25vh;

			.text {
				&::before {
					height: 63px;
					background: url('../images/icons.png') no-repeat;
					background-position: -1px -90px;
				}
			}
		}
	}

	.part:last-child {
		background: #cb1f36;

		.text {
			&::before {
				display: none;
			}
		}
	}

	.img-1 {
		width: 40%;
		height: 62%;
		max-height: 80vh;
		top: -20px;
		background: url('../images/img-2.jpg') no-repeat 0 0;
	}
}

@media screen and (min-width: 1024px){
	.what {
		.img-1 {
			height: 676px;
		}
	}
}

@media screen and (min-width: 428px) {
	.what {
		.img-1 {
			display: block;
		}
	}
}

//HOW
.how, .volume, .processo, .qualification {
	background: url('../images/bg-red.jpg') no-repeat top center;
	background-size: cover;
	height: 100vh;

	.part, .part:last-child {
		background: none;

		.content {
			top: 75vh;
		}
	}

	ul {
		list-style: none;

		li {
			width: 100%;
			padding-bottom: 40px;

			&::before {
				content: '';
				width: 70px;
				height: 69px;
				background: url('../images/icons.png') no-repeat;
				position: absolute;


			}

			&:nth-child(1) {
				&::before {
					height: 62px;
					background-position: -71px -84px;
				}
			}
			&:nth-child(2) {
				&::before {
					background-position: 1px -154px;
				}
			}
			&:nth-child(3) {
				&::before {	
					background-position: -68px -151px;
				}
			}
		}	
	}
}

@media screen and (min-width: 726px) {
	.how, .volume {
		ul {
			display: flex;

			li {
				width: 33%;
			}
		}
	}
}

//Volume Compartilhado
.volume, .processo, .qualification {
	height: 140vh;
	background: url('../images/bg-dark.jpg') no-repeat top center;
	background-size: cover;

	.part, .part:last-child {
		.content {
			top: 70vh;

			h2 {
				color: $green;

				span {
					font-size: 40px;
					display: block;
					color: #b9babd;
				}
			}

			ul {
				margin: 0;
				padding: 0;

				li {
					text-align: center;

					&::before {
						display: none;
					}

					h3 {
						color: #aaaaac;
						padding: 0 10px;
					}

					img {
						width: 30%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 726px) {
	.volume, .processo, .qualification {
		height: 100vh;

		.part, .part:last-child {
			.content {
				top: 50vh;

				h2 {
					span {
						font-size: 80px;
					}
				}

				ul {

					li {
						img {
							width: 50%;
						}
					}
				}
			}
		}
	}
}

//Processo Otimizado
.processo, .qualification {
	height: 150vh;
	background: url('../images/bg-process.jpg') no-repeat top center;
	background-size: cover;
	
	.part, .part:last-child {
		p {
			padding: 0;
			font-size: 18px;
		}

		.content {
			top: 75vh;

			ul li {
				width: 92%;
			    border: 5px solid #FFF;
			    margin: 30px 10px;
			    padding: 3%;
			    box-sizing: border-box;

			    h3 {
					color: $green;
					display: flex;
					margin-bottom: 10px;
					align-items: center;

					&::before {
						content: '';
						width: 53px;
						height: 49px;
						display: inline-block;
						margin-right: 10px;
						background: url('../images/icons.png') no-repeat;
					}
 				}

 				&:nth-child(1) {
 					h3 {
						&::before {
							background-position: -150px 0px;
						}
					}
				}

				&:nth-child(2) {
					h3 {
						&::before {
							background-position: -150px -50px;
						}
					}
				}
				&:nth-child(3) {
					h3 {
						&::before {
							background-position: -150px -98px;
						}
					}
				}
			}
		}
	}
}


@media screen and (min-width: 840px) {
	.processo {
		ul {
			display: flex;

			li {
				width: 33%;
			}
		}
	}
}

.qualification {
	background: url('../images/bg-boy.jpg') no-repeat top center;
	background-size: cover;

	.part, .part:last-child {
		.content {
			h2 {
				float: right;
				width: 190px;
			}

			ul {
				li {
					padding: 30px;
					clear: both;
					margin-left: auto;

					p {
						font-size: 16px;
						line-height: 20px;
						max-width: inherit;
					}

					h3 {
						color: $white;
					}

					&:nth-child(1) {
	 					h3 {
							&::before {
								background-position: -150px -154px;
							}
						}
					}

					&:nth-child(2) {
						h3 {
							&::before {
								background-position: -150px -207px;
							}
						}
					}
				}
			}
		}
	}

	.logos {
		position: absolute;
		bottom: 0;
		max-width: 990px;
		margin: 30px;
	}
}

@media screen and (min-width: 1024px){
	.qualification {
		.part, .part:last-child {
			.content {
				h2 {
					float: left;
					width: 440px;
				}

				ul {
					float: right;
					width: 40%;
				}
			}
		}
	}
}

@media screen and (max-width: 600px){
	.qualification {
		.logos {
			img {
				width: 90%;
			}
		}
	}
}

.exemplos {
	height: auto;
	background: #2b2e34;
	padding-bottom: 150px;

	h2 {
		font-size: 50px;
		color: $green;
		padding: 100px 0 50px;
		text-align: center;
	}

	h3 {
		font-size: 40px;
		color: $white;
		padding: 20px 0;
		text-align: center;
	}
}

.video-box {
	.box-video {
		background-color: #2b2e34;
		margin: 0 auto;
		padding: 25px 0 0 0;

		.video-elements {
			width: 95%;
			max-width: 970px;
			text-align: center;
			position: relative;
			margin: 0 auto;
			

			.video, video {
				width: 100%;
				height: auto;
			}
		}
	}

	svg:not(:root) {
	    overflow: hidden;
	}

	.video-overlay-play-button {
	    box-sizing: border-box;
	    width: 100%;
	    height: 100%;
	    padding: 10px calc(50% - 50px);
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: block;
	    opacity: 0.55;
	    cursor: pointer;
	    background: #2b2e34;
	}
}


@media screen and (min-width: 726px){
	.exemplos {
		h2 {
			font-size: 100px;
		}

		h3 {
			font-size: 80px;
		}
	}
}

.prices, .vantagens {
	height: auto;
	width: 100%;
	padding-bottom: 50px;
	background: url('../images/bg-letter.jpg') no-repeat bottom center #474b56;
	background-size: 100%;

	.content {
		margin: 0 auto;
		width: 100%;
		max-width: 970px;

		h2 {
			text-align: center;
			font-size: 80px;
			border: 6px solid #cb1f36;
			padding: 25px;
			width: 50%;
			margin: 50px auto;
			color: #fff;
		}

		h3 {
			font-size: 60px;
		}

		>ul {
			list-style: none;
			text-transform: uppercase;
			padding: 0;

			>li {
				font-family: 'bebas_neueregular';
				border: 6px solid #cb1f36;
				margin: 2%;
				padding: 20px;
				color: $white;

				p {
					font-family: 'bebas_neueregular';
					margin: 0;
				}

				.text {
					font-family: 'latoregular';
					font-size: 12px;
					line-height: 18px;
				}
			}

			ul {
				margin: 25px 0;
			}
		}
	}
	
	.price {
		font-size: 40px;

		span {
			font-size: 30px;
		}
	}

	.sec .price {
		font-size: 35px;
		margin-bottom: 15px;
	}

	
}

@media screen and (min-width: 1024px){
	.prices, .vantagens {
		.content {
			h2 {
				font-size: 100px;
			}

			h3 {
				font-size: 80px;
			}
		}
	}
}

@media screen and (min-width: 840px) {
	.prices, .vantagens {
		.content {
			>ul {
				display: flex;

				>li {
					width: 50%;
				}
			}
		}
	}
}

.vantagens {
	background: #333333;
	height: 100vh;
	padding-top: 50px;

	h2 {
		text-align: center;
		font-size: 80px;
		border: 6px solid #cb1f36;
		padding: 25px;
		width: 50%;
		margin: 0 auto 50px;
		color: #fff;
	}

	.content {
		ul {
			li {
				border: none;
				text-align: center;

				h3 {
					font-size: 25px;
					letter-spacing: 1px;
				}

				i {
					width: 90px;
					height: 92px;
					display: block;
					background: url(../images/icons.png) no-repeat;
					margin: 0 auto 40px;
				}
			}

			li:nth-child(1) {
				i {
					background-position: 0px -224px;
				}
			}
			li:nth-child(2) {
				i {
					background-position: 0px -315px;
				}
			}
			li:nth-child(3) {
				i {
					background-position: 0px -402px;
				}
			}
		}
	}
}

@media screen and (min-width: 840px) {
	.vantagens {
		h2 {
			font-size: 80px;
		}
	}
}

.end {
	.signal {
		img {
			transform: translate(-50%, -50%);
			position: absolute;
			top: 50vh;
			left: 50vw;
		}
	}
}

@media screen and (max-width: 600px){
	.end {
		.signal {
			img {
				width: 70%;
			}
		}
	}
}

footer {
	width: 100%;
	padding: 30px 0 10px;
	background-color: rgba(0, 0, 0, 0.6);

	.content {
		max-width: 970px;
		margin: 0 auto;
		padding: 0 15px;
		color: $white;
		text-align: center;
	}

	.title {
		color: #2ecc71;
		margin-bottom: 10px;
	}

	.end, .rights {
		font-family: 'latoregular';
		font-size: 12px;
		color: #cccccc;
	}

	.phone, .email {
		font-family: 'bebas_neueregular';
		font-size: 14px;
		display: flex;
		margin: 0 auto 10px;
		width: 150px;
		color: $white;
		text-decoration: none;
		align-items: center;

		&::before {
			content: '';
			width: 22px;
			height: 18px;
			margin-right:10px;
			background: url('../images/icons.png') no-repeat;
		}
	}

	.phone {
		&::before {
			background-position: -60px 0;
		}
	}

	.email {
		&::before {
			background-position: -93px 0;
		}
	}

	input[type="text"] {
		font-family: 'bebas_neueregular';
		color: #ccc;
		overflow: visible;
		background: transparent;
		border: 1px solid #4a4c50;
		padding: 5px;
		font-size: 18px;
		width: 271px;
		margin-bottom: 5px;
	}

	input[type="submit"] {
		width: 20px;
		height: 20px;
		border: none;
		margin-left: -30px;
		margin-right: 5px;
		cursor: pointer;
		background: url('../images/icons.png') no-repeat;
		background-position: -36px 0;
	}

	.info {
		border-top: 1px solid #38393e;
		margin: 10px 0;
		padding: 10px 0;
	}

	.logo {
		width: 100px;
		margin: 0 auto 10px;

		img {
			width: 100%;
		}
	}
}

@media screen and (min-width: 726px) {
	footer {
		.logo {
			margin: 0 30% 0 0;
		}

		.content {
			text-align: left;
		}

		.address {
			width: 80%;
		}

		.info, .box, .contact {
			display: flex;
		}

		input[type="text"] {
			font-size: 22px;
		}
	}
}